* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url(/images/bac-img.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-body {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    width: 400px;
    padding: 80px 20px;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.3s ease;
}

.calculator-body:hover {
    box-shadow: 0px 0px 30px 2px rgba(0, 187, 255, 0.3);
    border: 1px solid #00bfff;
}

.calculator-body h1 {
    text-align: center;
    color: #00cfff;
    margin-bottom: 15px;
    font-size: 1.8em;
}

.dob-input {
    padding: 15px 40px;
    border-radius: 10px;
    background: rgba(31, 34, 51, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-bottom: 10px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.dob-input > input {
    padding: 8px 20px;
    border: none;
    font-weight: 900;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgba(50, 59, 82, 0.8);
    color: #ffffff;
}

#cal-btn {
    background-color: #00cfff;
    color: #10141f;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#cal-btn:hover {
    background-color: #00a2e2;
}

#cal-btn:active,
#rst-btn:active {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    transform: scale(0.95);
    transition: transform 0.2s ease;
}

.show-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-top: 15px;
}

.year,
.month,
.day {
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    font-size: 1em;
    background: rgba(26, 30, 44, 0.7);
    border: 1px solid #00cfff;
    color: #00dfff;
    font-weight: bold;
}

.show-result h4 {
    color: #00dfff;
    font-size: 1.2em;
    font-weight: 900;
}

.show-result span {
    margin-bottom: 8px;
    color: #eeeeee;
    font-weight: 900;
    font-size: 0.9em;
}

.reset {
    text-align: center;
    margin-top: 20px;
}

#rst-btn {
    background-color: #00cfff;
    color: #10141f;
    padding: 10px 30px;
    font-weight: 900;
    border-radius: 5px;
    border: none;
    font-size: 0.9em;
    cursor: pointer;
}
#rst-btn:hover {
    background-color: #009dd1;
}
#copy{
    text-align: center;
    color: rgba(255,255,255,0.12);
    /* margin-top: 15px; */
    transform: translateY(15px);

}